* {
    margin: 0;       /* Elimina los márgenes predeterminados */
    padding: 0;      /* Elimina los paddings predeterminados */
    box-sizing: border-box; /* Hace que el tamaño total incluya padding y border */

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el scroll horizontal */
    overflow-y: auto; /* Permite scroll pero oculta la barra */
    scrollbar-width: none; /* Oculta la barra en Firefox */
    -ms-overflow-style: none; /* Oculta la barra en Internet Explorer y Edge */
}

body {
    background: linear-gradient(45deg, #7FD297 50%, #9792E3 50%);
    position: relative; /* Permite que el z-index funcione correctamente */
}

body::-webkit-scrollbar {
    display: none; /* Oculta la barra en Chrome, Safari y Edge */
}

#app {
    display: flex; /* Activar flexbox */
    justify-content: center; /* Centrado horizontal */
    /*align-items: center; /* Centrado vertical */
    height: 100vh; /* Ocupar el 100% de la altura de la pantalla */
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho */
    box-sizing: border-box; /* Asegura que padding y border no afecten el tamaño */
}

.standar-botton {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #48435C;
    color: #EDFFEC;
    font-size: 18px;
}

a {
    color: #48435C !important;
}

.title-container {
    margin: 50px;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

